.map{
	margin-bottom: 2em;
}
.map h1{
	font-family: 'Amaranth', sans-serif;
	color: black;
	font-weight: 900;
	letter-spacing: -1px;
	margin-bottom: 1em;
}
.contact-info__item{
	margin-bottom: 20px;
  margin-left: 5em;
}
.contact-info__item h5{
	text-transform: uppercase;
	font-weight: 900;
	font-family: 'Amaranth', sans-serif;
	font-size: 20px;
	color: black;
	margin-bottom: 0px;
}
.contact-info__item p{
	font-family: 'Amaranth', sans-serif;
}

.icon-contactus i{
    font-size: 25px;
    border-radius: 50%;
    padding: 12px;
    background: black;
    color: white;
  }

.form-control , .txtarea{
	border-radius: 0px ; 
	border: 1px #f8f8f8;
	padding: 23px 20px;
	margin-bottom: 20px;
	line-height: 1.25;
	background-color: #f8f8f8;
	font-family: 'Amaranth', sans-serif;
}

textarea.form-control {
	resize: none;
    height: 180px;

}
.au-btn--solid, .swal-button{
	  background: #202020;
    color: #fff;
    border: none;
    line-height: 45px;
    font-family: 'Amaranth', sans-serif;
    padding: 0 23px;
    margin-bottom: 20px;
}